.App {
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(135deg, lightblue, pink);

  .board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    &__option {
      display: flex;
      flex-direction: column;

      &--row {
        display: flex;
        flex-direction: row;
      }
    }

    &__deck {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      &--graveyard {
        border: 5px solid aqua;
        border-radius: 20px;
      }
    }
  }

  .score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
